@import "tailwindcss";

.markdown-body ul {
    list-style-type: disc;
    margin-left: 1.5rem;
  }
  .markdown-body strong {
    font-weight: bold;
  }
  .markdown-body p {
    margin-bottom: 0.5rem;
  }